
# Database

DATABASE_URL=mysql+pymysql://lostfound_user:lostfound_pass@mysql:3306/lostfound_db


# JWT

JWT_SECRET_KEY=your_super_secret_key

JWT_ALGORITHM=HS256

GCP_BUCKET_NAME=ten-bucket-cua-ong
GOOGLE_APPLICATION_CREDENTIALS=gcp-key.json

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7